.process-steps-steps {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  border-color: var(--dl-color-scheme-green100);
  border-width: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  background-color: rgba(88, 183, 160, 0.7);
}
.process-steps-text {
  font-size: 3rem;
}
.process-steps-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.process-steps-step {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.process-steps-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.process-steps-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.process-steps-container02 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-theme-base);
}
.process-steps-icon {
  fill: var(--dl-color-scheme-green100);
  width: 24px;
  height: 24px;
}
.process-steps-line1 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-scheme-green100);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.process-steps-container03 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.process-steps-text01 {
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.process-steps-text02 {
  width: var(--dl-size-size-xlarge);
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.5;
}
.process-steps-step1 {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.process-steps-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.process-steps-line2 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-scheme-green100);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.process-steps-container05 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-theme-base);
}
.process-steps-icon2 {
  fill: var(--dl-color-scheme-green100);
  width: 24px;
  height: 24px;
}
.process-steps-line3 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-scheme-green100);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.process-steps-container06 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.process-steps-text03 {
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.process-steps-text04 {
  font-size: 0.75rem;
  text-align: center;
}
.process-steps-step2 {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.process-steps-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.process-steps-line4 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-scheme-green100);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.process-steps-container08 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-theme-base);
}
.process-steps-icon4 {
  fill: var(--dl-color-scheme-green100);
  width: 24px;
  height: 24px;
}
.process-steps-line5 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-scheme-green100);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.process-steps-container09 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.process-steps-text05 {
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.process-steps-text07 {
  font-size: 0.75rem;
  align-self: center;
  text-align: center;
}
.process-steps-step3 {
  width: 25%;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.process-steps-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.process-steps-line6 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-scheme-green100);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.process-steps-container11 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-theme-base);
}
.process-steps-icon7 {
  fill: var(--dl-color-scheme-green100);
  width: 24px;
  height: 24px;
}
.process-steps-line7 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.process-steps-container12 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.process-steps-text08 {
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.process-steps-text09 {
  font-size: 0.75rem;
  text-align: center;
}
.process-steps-root-class-name {
  flex: 0 0 auto;
  max-width: auto;
  align-self: center;
}
.process-steps-root-class-name1 {
  flex: 0 0 auto;
  max-width: auto;
  align-self: center;
}
@media(max-width: 991px) {
  .process-steps-text {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .process-steps-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .process-steps-container {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .process-steps-step {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .process-steps-container01 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .process-steps-line1 {
    border-color: #D9D9D9;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .process-steps-container03 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .process-steps-text01 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .process-steps-text02 {
    text-align: left;
  }
  .process-steps-step1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .process-steps-container04 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .process-steps-line2 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .process-steps-line3 {
    border-color: #D9D9D9;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .process-steps-container06 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .process-steps-text03 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .process-steps-step2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .process-steps-container07 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .process-steps-line4 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .process-steps-line5 {
    border-color: #D9D9D9;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .process-steps-container09 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .process-steps-text05 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .process-steps-text07 {
    text-align: left;
  }
  .process-steps-step3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .process-steps-container10 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .process-steps-line6 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .process-steps-line7 {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .process-steps-container12 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .process-steps-text08 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .process-steps-text09 {
    text-align: left;
  }
}
@media(max-width: 479px) {
  .process-steps-steps {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .process-steps-container {
    padding-left: 0px;
  }
  .process-steps-line1 {
    border-color: var(--dl-color-scheme-green100);
  }
  .process-steps-container03 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .process-steps-text01 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .process-steps-line3 {
    border-color: var(--dl-color-scheme-green100);
  }
  .process-steps-container06 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .process-steps-text03 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .process-steps-line5 {
    border-color: var(--dl-color-scheme-green100);
  }
  .process-steps-container09 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .process-steps-text05 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .process-steps-container12 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .process-steps-text08 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
}
